<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <h1 class="text-center text-success">Crop Yeild Predictor per Country</h1>
    <div class="container mt-4 my-4" style="background: black;color:white;border-radius: 20px">
         <h1 class="text-center text-success">Crop features here!</h1>
        <form action="/predict" method="post">
            <div class="form-group">
                <label for = "Year">Year</label>
                <input type="number" class="form-control" name="Year" step="any">
            </div>
             <div class="form-group">
                <label for = "average_rain_fall_mm_per_year">average_rain_fall_mm_per_year</label>
                <input type="number" class="form-control" name="average_rain_fall_mm_per_year" step="any">
            </div>
             <div class="form-group">
                <label for = "pesticides_tonnes">pesticides_tonnes</label>
                <input type="number" class="form-control" name="pesticides_tonnes" step="any">
            </div>
             <div class="form-group">
                <label for = "avg_temp">avg_temp</label>
                <input type="number" class="form-control" name="avg_temp" step="any">
            </div>
             <div class="form-group">
                <label for = "Area">Area</label>
                <input type="text" class="form-control" name="Area" step="any">
            </div>
            <div class="form-group">
                <label for = "Item">Item</label>
                <input type="text" class="form-control" name="Item" step="any">
            </div>
            <button  type="submit" class="btn btn-danger bgn-lg mt-4">Predict</button>
        </form>
        {%if predicted_value %}
        <h1 class="text-center text-danger">
            Predicted yeild production: <br>
            {{predicted_value}}
        </h1>

        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>